<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{sities}}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            *{
                padding: 0;
                margin: 0;
            }
            li{
                list-style: none;
            }
            body{
                overflow: hidden;
            }
            .city{
                width: 100%;
            }
            h1{
                width: 100%;
                background: #3B83BD;
                height: 60px;
                line-height: 55px;
                font-family: Roboto;
                font-weight: 300;
                color: white;
                padding-left: 20px;
            }

            .cities li{
                border: 1px solid #3B83BD;
                width: 300px;
                height: 35px;
                margin-bottom: 5px;
                font-family: Roboto;
                font-size: 20px;
                padding-left: 10px;
                line-height: 35px;
            }
            a{
                text-decoration: none;
                color: black;
            }
            a > li:hover{
                color: white;
                background: #3B83BD;
                width: 305px;
            }
            footer{
                background: #3B83BD;
                color: white;
                font-family: Roboto;
                position: absolute;
                height: 60px;
                bottom: 0;
                width: 100%;
                line-height: 25px;
                padding-left: 20px;
            }
            footer span{
                display: flex;
                flex-direction: column;
            }
        </style>
    </head>
    <body>
        {{> header}}
        <div class="container row">
            <div class="city col-md-5"> 
                <ul class="cities">
                    {{#each cityes}}
                    <a href="weather/{{this.url}}" class="city"><li>{{this.name}}</li></a>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="weather">
                    <li>Місто: {{weather.name}}</li>
                    <li>Опис: {{weather.weather.[0].description}}</li>
                    <li>Тиск: {{weather.main.pressure}}</li>

                </ul>  
            </div>
        </div>
        
        {{> footer}}
    </body>
</html>